/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/Makefile
/build/Makefile.in
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/fato-triangle
/src/fato-mipmap-fb
/src/fato-pbo
/stamp-h1

.deps
*.o
